[submodule "modules/puchikarui"]
	path = modules/puchikarui
	url = git@github.com:letuananh/puchikarui
[submodule "modules/chirptext"]
	path = modules/chirptext
	url = git@github.com:letuananh/chirptext
